.photoAndTxtContainer {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin-bottom: 2em;
}

.ProductName {
    font-size: 2em;
}

.warning_text{
    text-decoration: none;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.warning_text h1{
    color: black;
}

.empty_cart{
    font-size: 34px;
}