.photoAndTxtContainer {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin-bottom: 2em;
}

.ProductName {
    font-size: 2em;
}

.empty_cart_container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10em;
}

.empty_cart{
    font-size: 34px;
}